/* Stylesheet varaibles and custum style overides for Mothers day landing page Chris Godber*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

/*----- Variables  var(--main-color); -----*/
:root {
    --main-color: #494949;
    --main-font-family:  'Poppins', sans-serif;
    --main-bg-color:#eeb035;
    --heading-color:#5e6fa9;
    --arrow-color: #ffffff;
    --lightblue-color:#b1bcd7; 
}
/* -----main styles----- */
html,
body {
  min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: 400 14px 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.428;
    color: var(--main-color)!important;
    background-color: #fff;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

/* Font styles  */
h2{
  margin: 0;
  color: var(--heading-color)!important;
}

p{
    margin: 0;
    color: var(--main-color)!important;
  }

p.yellow{
color:  var(--main-bg-color)!important;
}

/* Timer colour change */
.flip-clock-wrapper ul li a div div.inn {
    color: #494949 !important; 
    background-color: var(--main-bg-color);
}

/* top banner text styles */
.top-banner-text {
    position: absolute;
    top: 10%;
    width: 100%;
    float:left;
}


.top-banner-text p{
    color: #313131;
    font-family: playfair display,serif;
    font-size: 41px;
    line-height: 1.15;
    padding-left:15px;
}

/* -----text labels Now----- */
.now-price {
  font-size: 15px;
  color: var(--main-bg-color) !important;
  font-weight: 700;
}

 /* -----button styling----- */
  .btn-view-more a {
  display: block;
  margin: 0 auto;
  padding: 11px 5px;
  font-size: 15px;
  font-weight: 400;
  color: var(--white-color)!important;
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-bg-color) !important;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.discount-message {
  background-color: var(--heading-color) !important;
  float:right; 
  /* float right for diff layout */
}

/* second button with content single next to discount */
.single-message{
  background-color:var(--lightblue-color)!important;
  display:block;
  color:#fff;
  font-size:15px;
  font-weight:400;
  line-height:1;
  padding:8px 5px;
  text-transform:uppercase;
  text-align:center;
  width:104px;
  margin-right:15px;
  float:left;
    /* float left for diff button layout */
}


/* buy voucher btn */

.product-btn .btn {
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-bg-color) !important;
}

.product-btn .btn:hover {
  background-color: var(--heading-color)!important;
  border: 1px solid var(--heading-color) !important;
}

/* -----radio buttons----- */
input:checked {
  background: var(--main-bg-color) !important;
  border: 6px double #fff;
}

/* -----stars for star ratings----- */
.star-rating-small .checked {
  color: var(--main-bg-color) !important;
}

/* mobile color overrides */
@media screen and (max-width: 767px){
.buy-btn-nav .btn {
background-color: var(--main-bg-color) !important;
border: 1px solid var(--main-bg-color) !important;
}}


/* ##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
.top-banner-text{
        top: 10%;
}

.top-banner-text p {
 font-size: 28px;
 line-height: 1.3;
}}
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.top-banner-text{
        top: 10%;
}

.top-banner-text p {
 font-size: 28px;
 line-height: 1.3;
}}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
.top-banner-text{
        top: 33%;
}

.top-banner-text p {
 font-size: 28px;
 line-height: 1.3;
}}
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .top-banner-text{
        top: 12%;
}

.top-banner-text p {
 font-size: 17px;
 line-height: 1.3;
}}
