/*----- Variables  var(--main-color); -----*/
:root {
  --container-prshop-bg-color: #ebebeb; 
  --main-color: #494949;
  --white-color: #fff;
  --pink-color: #e70080;
  --green-color: #53a72b;
  --heading-color: #313131;
}

.navbar {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .19);
}

.navbar {
      margin-bottom: 0;
      -webkit-transition: all .5s;
      transition: all .5s;
}
.navbar-default {
      background-color: #fff;
      border-color: #e7e7e7;
}
 
.logo-img {
    margin-top: -3px;
    margin-left: 0;
    width: 130px;
}

.safety-img img {
    height: 100%;
    width: 243px;
    margin-top: 2px;
}

.basket-icon {
    font-size: 23px;
    padding: 13px 0 10px;
    position: relative;
    margin-right: 10px;
}

.iconBas {
    color: var(--pink-color);
    position: absolute;
    top: 10px;
    margin-left: -3px;
    font-size: 0;
    background-color: var(--pink-color);
    border-radius: 100%;
    height: 12px;
    width: 12px;
}

.svg-inline--fa.fa-w-18 {
    width: 23px;
}

@media screen and (max-width: 767px) {   
    .navbar-brand {
	    padding: 15px 0;
	}
}

@media screen and (max-width: 550px) {   
    .safety-img img {
    	display: none;
    }
}