@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

/*----- Variables  var(--main-color); -----*/
:root {
  --container-prshop-bg-color: #ebebeb; 
  --main-color: #494949;
  --black-color: #000;
  --white-color: #fff;
  --pink-color: #e70080;
  --green-color: #53a72b;
  --grey-color: #dbdbdb; /* for discount message pack*/
  --heading-color: #313131;
  --border-color: #aaa; /* grey color */
  --btn-color-hover: #cc0070; /* pink (darker)*/
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 14px 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428;
  color: var(--main-color);
  background-color: #fff;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--heading-color);
}
p {
  margin: 0;
  color: var(--main-color);
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.container {
  width: 1200px;
}

/*----- HEADER -----*/
.header-desktop {
  display: block;
}

.header-mobile {
  display: none;
}

.navbar {
  margin-bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

h4.panel-title,
.panel-title a {
  text-decoration: none;
  color: #000;
}

.logo-img {
  margin-top: -10px;
  margin-left: 0;
  max-width: 130px;
}

#basket-box {
  padding-left: 0;
}

.basket-icon {
  font-size:22px;
  padding: 14px 0 10px;
  position: relative;
  margin-right: 10px;
}

.basket-icon a {
  color:#1d1d1d;
  text-decoration: none;
}

.iconBas {
  color: #da0a7b;
  background-color: #da0a7b;
  position: absolute;
  top: 8px;
  margin-left: -1px;
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

section.banners-box {
  margin-top: 54px;
}
.banner {
  display: block;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner-small {
  display: none;
}

/*--- Steps ---*/
#steps-banner {
  margin: 5px auto;
}
.steps img {
  width: 100%;
  height: 100%;
}
.steps-small {
  display: none;
}

/*--- Bundle/Category Products --*/
.container.prshop {
  background-color: var(--container-prshop-bg-color);
  padding: 15px 30px;
}

.product-wrapper {
  padding: 10px 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}

.product-img-box {
  display: block;
  overflow: hidden;
  position: relative;
}

a.product-img {
  cursor: pointer;
  text-decoration: none;
}

.product-img {
  width: 100%;
  height: 100%;
  margin: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all .4s linear;
  transition: all .5s linear;
}

a.product-img:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.product-info-box {
  padding: 20px 10px 5px;
  position: relative;
  overflow: hidden;
}

.product-title {
  margin: 0;
  text-align: left;
  padding: 0;  
}
 
.product-title h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.category-star-rating {
  font-size: 18px;
  margin-bottom: 7px;
  letter-spacing: 0;
}

.category-star-rating .checked {
  color: var(--pink-color);
}

.star-rating-nmb {
  font-size: 14px;
  margin-left: 5px;
  color: var(--main-color);
}

.category-reviews p {
  font-size: 12px;
}

.price_from p {
  margin-top: 5px;
  font-size: 16px;
}

.price_from p span {
  font-size: 20px;
  color: var(--pink-color);
  font-weight: 600;
  margin-left: 5px;
}

.two-clmn-wrapper {
  display: flex;
  align-items: center;
}

.clmn {
  flex-grow: 1;
}

.btn-view-more {
  padding-left: 20px;
}
.btn-view-more a {
  display: block;
  margin: 0 auto;
  padding: 11px 5px;
  font-size: 15px;
  font-weight: 400;
  color: var(--white-color);
  background-color: var(--pink-color) !important;
  border: 1px solid var(--pink-color) !important;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-view-more a:hover,
.btn-view-more a:focus {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--btn-color-hover) !important;
  border: 1px solid var(--btn-color-hover) !important;
}

/*-- sticker 1 --*/
.percentageBox {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  right: 10px;
  top: 15px;
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 10;
  background-clip: padding-box;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 2px 9px;
}

.border {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.border span {
  color: #fff;
}

.border span.up-to {
  font-size: 11px;
  margin-right: 5px;
  line-height: 1;
  margin-top: -1px;
}

.border span.off {
  font-size: 17px;
  font-weight: 600;
}

/*--- Section FAQ ---*/
.container-faq {
  padding-top: 80px;
  text-align: center;
}
.container-faq h2 {
  font-size: 29px;
  margin-bottom: 20px;
  text-align: center;
}

/*--- Section About US ---*/
.container-about-us {
  padding: 50px 5px 20px;
  text-align: left; 
}
.container-about-us h2 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 29px;
  font-weight: 
}
.container-about-us h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.container-about-us p {
  margin-bottom: 10px;
}

/*--- Footer ---*/
#footer {
  margin: 40px 0 5px;
}

.col-sm-6.foot1 {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-sm-6.foot2 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.payment-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.payment-icons li {
  display: inline-block;
}

.payment-icons .icon {
    width: 30px !important;
    height: 30px !important;
}

/*--- Modal ---*/
.modal-body p {
  font-size: 16px;
  line-height: 1.8;
}

.modal-footer .btn-primary {
  color: #fff;
  background-color: #0878f6;
  border-color: #0878f6;
}

.modal-footer .btn-primary:hover,
.modal-footer .btn-primary:focus {
  background-color: #0660c6;
  border-color: #0660c6;
  text-decoration: none;
}

#scrollToTop {
  display: inline-block;
  position: fixed;
  background-color: var(--white-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  text-align: center;
  border-radius: 4px;
  padding: 8px 15px;
  margin: 30px;
  bottom: 50px;
  right: 20px;
  transition: background-color .3s;
  z-index: 1000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#scrollToTop i.fas {
  color: var(--main-color);
}

#scrollToTop:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white-color);
}
#scrollToTop:active {
  background-color: var(--main-color);
  color: var(--white-color);
}

@media screen and (max-width: 1400px) {
  #scrollToTop {
    margin: 0;
    bottom: 50px;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .container.prshop {
    padding: 5px 15px;
  }

  .row.prsh {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col-sm-4.col-xs-6.prsh {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .container.prshop {
    padding: 15px 30px;
  }

  .row.prsh {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-sm-4.col-xs-6.prsh {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .container.prshop {
    padding: 15px 15px;
  }

  .container-faq {
    padding-top: 60px;
  }

  .container-about-us {
    padding: 40px 5px 0px;
  }
}


@media screen and (max-width: 810px) {
  .container.prshop {
    padding: 5px 15px;
  }

  .row.prsh {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col-sm-4.col-xs-6.prsh {
    padding-right: 10px;
    padding-left: 10px;
  }

  .product-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  button#scrollToTop {
    display: none !important;
  }

  .percentageBox {
    padding: 2px 7px;
  }

  .btn-view-more {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-6.foot1,
  .col-sm-6.foot2 {
    display: inline-block;
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 750px) {
  .product-info-box {
    padding: 20px 7px 5px;
  }

  .product-title h4 {
    font-size: 18px;
  }

  .percentageBox {
    right: 5px;
    top: 17px;
    padding: 2px 5px;
  }

  .border span.up-to {
    font-size: 10px;
    margin-right: 3px;
    margin-top: 0;
  }

  .border span.off {
    font-size: 16px;
  }
}

@media screen and (max-width: 730px) {
  .price_from p {
    font-size: 15px;
  }

  .price_from p span {
    font-size: 19px;
    margin-left: 3px;
  }

  .btn-view-more a {
    font-size: 14px;
  }
}

@media screen and (max-width: 660px) {
  .container.prshop {
    padding: 10px 15px;
  }

  .row.prsh {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-sm-4.col-xs-6.prsh {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  .product-wrapper {
    margin-bottom: 15px;
  }

  .product-info-box {
    padding: 20px 10px 5px;
  }

  .product-title h4 {
    font-size: 20px;
  }

  .price_from p {
    font-size: 16px;
  }

  .price_from p span {
    font-size: 20px;
  }

  .btn-view-more {
    padding-left: 5px;
  }

  .percentageBox {
    right: 10px;
    top: 15px;
    padding: 2px 8px;
  }

  .border span.up-to {
    font-size: 11px;
    margin-right: 5px;
    margin-top: 0;
  }

  .border span.off {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  section.banners-box {
    margin-top: 52px;
  }
}

@media screen and (max-width: 480px) {

  .header-desktop {
    display: none !important;
  }

  .header-mobile {
    display: block;
  }

  .banner {
    display: none;
  }

  .banner-small {
    display: block;
  }
  .banner-small img {
    width: 100%;
    height: 100%;
  }

  .steps {
    display: none;
  }

  .steps-small {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .steps-small img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  #scrollToTop {
    display: none !important;
  }

  .navbar-brand {
    text-align: left;
    padding-left: 0;
  }

  .container-faq {
    padding-top: 50px;
  }

  .container-faq h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .container-about-us {
    padding: 30px 0 0px;
  }
}

@media screen and (max-width: 414px) {
  
}

@media screen and (max-width: 400px) {
  .col-sm-6.foot1,
  .col-sm-6.foot2 {
    display: inline-block;
    width: 100%;
    float: none;
    text-align: center;
  }

  .col-sm-6.foot1 {
    padding-bottom: 10px;
  }
}


@media screen and (max-width: 370px) {
  .product-info-box {
    padding: 20px 7px 5px;
  }

  .product-title h4 {
    font-size: 19px;
  }

  .star-rating-nmb {
    font-size: 13px;
  }

  .price_from p {
    font-size: 15px;
  }

  .price_from p span {
    font-size: 19px;
  }

  .percentageBox {
    right: 5px;
    top: 17px;
    padding: 2px 6px;
  }

  .border span.up-to {
    font-size: 10px;
    margin-right: 3px;
    margin-top: 0;
  }

  .border span.off {
    font-size: 16px;
  }
}

@media screen and (max-width: 335px) {
  .product-info-box {
    padding: 20px 5px 5px;
  }

  .percentageBox {
    right: 2px;
    top: 17px;
    padding: 3px 4px;
  }

  .border span.off {
    font-size: 15px;
  }

  .container-faq h2 {
    font-size: 26px;
  }

  .panel-title {
    font-size: 15px;
  }

  .container-about-us {
    padding: 25px 0 0px;
  }

  .container-about-us h2 {
    font-size: 28px;
  }
}

/*
.bundles { 
  display: none; 
} */