/* Stylesheet varaibles and styles for Mothersday landing page Chris Godber*/

/*----- Variables  var(--main-color); -----*/

:root {
    --main-color: #494949;
    --main-font-family:  'Poppins', sans-serif;
    --main-bg-color:#eeb035;
    --heading-color:#5e6fa9;
    --arrow-color: #ffffff;
    --divider-color: #b1bcd7a; 
    --white-color: #fff;
}

/* main styles  */

html,
body {
  min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: 400 14px 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.428;
    color: var(--main-color);
    background-color: #fff;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
  }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--heading-color);
}

p {
    margin: 0;
    color: var(--main-color);
  }

 /* button styling  */
  .btn-view-more a {
  display: block;
  margin: 0 auto;
  padding: 11px 5px;
  font-size: 15px;
  font-weight: 400;
  color: var(--white-color);
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-bg-color) !important;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}








